<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Notícias</title>
		</head>
	<body>

		<h1>Notícias</h1>

		<table>
			<thead>
				<tr>
					<td>ID</td>
					<td>Título</td>
				</tr>
			</thead>

			<tbody>
			<% for (noticia of noticias) { %>
				<tr>
					<td><%= noticia.id %></td>
					<td><%= noticia.titulo %></td>
				</tr>
			<% } %>
			</tbody>

		</table>

	</body>
</html>